name: Pandoc HTML Creation

on: push

jobs:
  convert_via_pandoc:
    runs-on: ubuntu-24.04
    steps:
      - uses: docker://pandoc/core:3.8
        with:
          args: >-
            --standalone
            --output=SPARCNetBootGuide.html
            ./SPARCNetBootGuide.md
