name: Pandoc PDF Creation

on:
  push:
  workflow_dispatch:

jobs:
  convert_via_pandoc:
    runs-on: ubuntu-24.04
    steps:
      - uses: docker://pandoc/core:3.8
        with:
          args: >-
            --standalone
            --output=SPARCNetBootGuide.pdf
            ${{ github.workspace }}/SPARCNetBootGuide.md
