name: Pandoc PDF Creation

on:
  push:
  workflow_dispatch:

jobs:
  convert_via_pandoc:
    runs-on: ubuntu-24.04
    defaults:
        run:
            working-directory: ./
    steps:
        - name: clone repo to runner
          uses: actions/checkout@v5
        - name: convert md to pdf
          uses: docker://pandoc/core:3.8
          with:
            args: >-
                --standalone
                --output=SPARCNetBootGuide.pdf
                SPARCNetBootGuide.md